.navbar {
    background-color: $dark-blue;

    #navbarSupportedContent *{
        color: $white;
        font-size: 18px;

        .dropdown-menu {
            padding: 0;
            background-color: $light-blue;
            .dropdown-item:hover, .dropdown-item:focus {
                background-color: rgba($dark-blue, 0.5);
            }
        }
    }
}
.v-nav {
    &__menu {
        &--left {
            width: calc(100% - 100px);
            justify-content: center;

            a {
                padding:  0  20px;
                text-decoration: none;

                &:hover {
                    color: $light-blue !important;
                }
            }
        }

        &--right {
            width: 100px;
        }
    }
}

.custom-title {
    &__01 {
        width: 100%;
        margin: 0 0 32px;
        font-size: 28px;
        font-weight: 900;
        color: $white;
        letter-spacing: 2px;
    }
}

.custom-section {
    &__01 {
        margin: 0 0 64px;
    }
}
