.navbar {
    background-color: $dark-blue;

    #navbarSupportedContent *{
        color: $white;
        font-size: 18px;

        .dropdown-menu {
            padding: 0;
            background-color: $light-blue;
            .dropdown-item:hover, .dropdown-item:focus {
                background-color: rgba($dark-blue, 0.5);
            }
        }
    }
}
.v-nav {
    &__menu {
        &--left {
            width: calc(100% - 100px);
            justify-content: center;

            a {
                padding:  0  20px;
                text-decoration: none;

                &:hover {
                    color: $light-blue !important;
                }
            }
        }

        &--right {
            width: 100px;
        }
    }
}
