// Body
$body-bg: #293959;
$dark-blue: #1B2740;
$grey-blue: #284b74;
$light-blue: #67AAF9;
$white: #FFFFFF;
$green: #33AB5F;
$dark-green: #2b8d4f;
$red: #EE4D4D;
$dark-red: #D64545;
$orange: #FD9644;
$purple-gradient: linear-gradient(193deg, rgba(89, 131, 252, 1) 0%, rgba(41, 53, 86, 1) 100%);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
